.card-img,
.card-info {
    position: relative;
    top: 50px;
}

.card {
    height: 470px !important;
}

.card img {
    width: 150px;
    height: 150px;
}

.card > div {
    flex-basis: 50%;
}

.card-text {
    width: 100%;
}
